* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  color: #222;
  font-family: 'Montserrat', Arial, sans-serif;
}

.header {
  background-color: #150300;
  padding: 15px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-links a {
  display: inline-block;
  margin-left: 20px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  }

.story {
  display: flex;
  gap: 50px;
}

.story-text figure {
  margin: 15px auto;
  text-align: center;
}

.discover {
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  text-align: center;
  color: #d87a2c;
}

.story-text {
  text-align: center;
}

.story-text h1 {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.story-text p {
  color: #777;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 400px;
}

.story-text a {
  text-decoration: none;
  color: #d87a2c;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .story-image img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

  .story-text,
  .story-image {
    width: 100%;
  }
  
}